# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Richard Gubby
	email = 
[alias]
	st = status
	sta = status
	stat = status
	statu = status
	sattus = status
	sattus = status
	ci = commit
	pul = pull
	pus = push
