# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = 
	email = 
[alias]
	st = status
	sta = status
	stat = status
	statu = status
	sattus = status
	sattus = status
	sttus = status
	stastus = status
	ci = commit
	pul = pull
	pus = push
	cehckout = checkout
	checkour = checkout
	chekout = checkout
	dif = diff
	modified = !git status|grep modified|awk '{print $2}'
	modified-add = !git status|grep modified|awk '{print $2}'|xargs git add
	modified-restore = !git status | grep modified | awk '{print $2}' | xargs git restore
	untracked = !git ls-files --others --exclude-standard
	untracked-add = !git ls-files --others --exclude-standard|xargs git add
	untracked-rm = !git ls-files --others --exclude-standard | xargs rm
	deleted = !git status|grep deleted|awk -F ':' '{print $2}'
	deleted-rm = !git status|grep deleted|awk -F ':' '{print $2}'|xargs git rm
	current-branch = !git rev-parse --abbrev-ref HEAD
	current-repo = !git ls-remote --get-url $(git config --get branch.$(git branch --show-current).remote)
	current-repo-url = !git ls-remote --get-url $(git config --get branch.$(git branch --show-current).remote)|sed 's~git@github.com:~https://github.com/~'|sed 's~.git$~~'
	current = current-branch
	unstage = reset HEAD --
	fire = !git checkout -b fire/$USER-$(date +%s) && git stage -A && git commit -n -m ':fire: there is a fire!' && git push origin fire/$USER-$(date +%s)
	soft = reset HEAD^ --soft
	hard = reset HEAD^ --hard
	create-pr = !open "`git current-repo-url`/pull/new/`git current`"
	pr-number = ! git ls-remote origin "pull/*/head" | grep "`git rev-parse HEAD`" | awk -F '/' '{print $3}'
	pr = "! sh -c 'PR=$(git pr-number) && if [[ -n $PR ]]; then open "`git current-repo-url`/pull/$PR"; else git create-pr; fi'"
[fetch]
	prune = true
