# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = 
	email = 
[alias]
	st = status
	sta = status
	stat = status
	statu = status
	sattus = status
	sattus = status
	sttus = status
	stastus = status
	ci = commit
	pul = pull
	pus = push
	cehckout = checkout
	checkour = checkout
	chekout = checkout
	dif = diff
	modified = !git status|grep modified|awk '{print $2}'
	modified-add = !git status|grep modified|awk '{print $2}'|xargs git add
	untracked = !git ls-files --others --exclude-standard
	untracked-add = !git ls-files --others --exclude-standard|xargs git add
	deleted = !git status|grep deleted|awk '{print $2}'
	deleted-rm = !git status|grep deleted|awk '{print $2}'|xargs rm
	current-branch = !git rev-parse --abbrev-ref HEAD
	unstage = reset HEAD --
[fetch]
	prune = true
